@{
    ViewData["Title"] = "Home Page";
}
<!-- Section home / index -->
<section class="bg-image overlay">
    <div class="row justify-content-center align-items-center min-vh-100 m-0" style="background-color: rgba(0, 0, 0, 0.5); max-width: 100vw; width: 100%;">

            <div class="col-lg-5 text-center my-3">
                <iframe src="https://www.youtube.com/embed/2P9vJW7iZCM" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen></iframe>
            </div>

            <div class="col-lg-5 text-center my-3">
                <h1 class="text-light display-5 fw-bold m-0 px-3 my-3">Let's turn your</h1>
                <p class="text-light display-4 fw-bold m-0 px-3 my-3"><span class="colored-text">Monthly Expenses</span> into <span class="colored-text">Monthly Income</span></p>
                <button type="button" class="btn btn-outline-light cta-btn my-3">Schedule Your Call</button>
            </div>

     </div>
</section>

<!-- Section about -->
<section class="" id="about">
    <div class="row justify-content-center align-items-center min-vh-100 m-0" style="background-color: #fffbf2;">

        <div class="col-lg-5 text-center my-3 align-custom">
            <h1 class="title">Hey There!</h1>
            <h1 class="name">I'm Ron Aldrin</h1>
            <p class="description">I’m currently living here in New York. 
                They said everything is possible here in America especially 
                here in the “City of Dreams.” There’s a lot of opportunities 
                here, but the reality is you need to get a double or triple 
                job for you to have a good income. Last year, when I heard 
                that my workplace will going to have a new management I felt 
                that I need to look for another job that time. So when I was 
                scrolling on my phone looking for an opportunity to work from 
                home or any job posting that fits my skills and personality. 
                I saw a post from facebook that says “ Do you want to start a 
                business without any capital investment and no selling” I said, 
                wowww Is this true? At first, I was very skeptical but of course 
                how would I know If I will not check on it. In short, I asked 
                for more info and set an appointment and booooom. This is me 
                now, I quitted from my 2 jobs and now I’m enjoying my time at 
                home with my 4 year old daughter and I own my time now. This 
                is because of what I decided few months ago to do this  
                “BUSINESS WITHOUT CAPITAL INVESTMENT AND NO SELLING”. This is 
                for everybody, you can also own your time soon and enjoy the 
                future if you take action now. I really want to share this 
                with you. Click the button below to get the FREE TRAINING.
            </p>
        </div>

        <div class="col-lg-5 text-center my-5 py-2">
            <img class="img-fluid about-image" src="asset/hana.jpg"/>
        </div>
    </div>

    <div class="container-fluid py-0 my-0">
            <div class="row bg-white min-vh-100 justify-content-center align-items-center">

                <div class="text-center custom-business-without">
                    <h1>BUSINESS WITHOUT CAPITAL INVESTMENT!</h1>
                </div>
                <div class="col-lg-5 text-center">
                    <img class="img-fluid w-100" src="asset/thumbnail.jpg" />
                </div>
                <div class="col-lg-5 text-lg-start p-5 text-center-custom">
                    <h1 class="statement-about py-2">NO Investment</h1>
                    <h1 class="statement-about py-2">NO Selling Products</h1>
                    <h1 class="statement-about py-2">NOT Insurance</h1>
                    <h1 class="statement-about py-2">NOT MLM</h1>
                </div>
            </div>
    </div>

</section>


<!-- 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->